<div class='container my-3 d-flex justify-content-center'>
    <div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title text-center"><strong><%= @band.name %></strong></h5>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Conciertos en este mes: </li>
        <li class="list-group-item">Último concierto:</li>
        <li class="list-group-item">Máximo de asistentes:</li>
        <li class="list-group-item">Mayor duración de concierto:</li>  
    </ul>
    <div class="card-body d-flex justify-content-end">
        <%= link_to 'Volver', bands_path %>
    </div>
</div>